# The Experiment

With our datasets now cleaned of all NaN values, we're going to load them and remove data! Let's get started!

## Importing Libraries.

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Preparation

We're going to load up the `iris_cleaned` dataset and designate it as our "control" group.

In [2]:
iris_ctrl = pd.read_csv('datasets/iris/iris_cleaned')
iris_ctrl = iris_ctrl.drop('Unnamed: 0', axis=1)
iris_ctrl.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

Next we'll make a copy to act as our "experimental" group.

In [3]:
iris_exp = iris_ctrl.copy()
iris_exp.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

Now to randomly replace 10% of data with NaN values.

In [4]:
# defining feature columns
features = ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 
            'petal width (cm)']

# Inserting NaN values into Experiment Group

for col in iris_exp[features]:
    # Every cell has a 10% chance of being selected
    # Rows may be selected more than once
    iris_exp.loc[iris_exp.sample(frac=0.1, replace=True).index, col] = np.nan

iris_exp.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,NaN,setosa
1,4.9,3.0,NaN,0.2,setosa
2,4.7,3.2,NaN,NaN,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [5]:
# obtaining indices of rows with NaN values
nan_rows = iris_exp[iris_exp.isna().any(axis=1)]
nan_rows

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,NaN,setosa
1,4.9,3.0,NaN,0.2,setosa
2,4.7,3.2,NaN,NaN,setosa
5,NaN,3.9,1.7,0.4,setosa
6,4.6,3.4,1.4,NaN,setosa
13,4.3,3.0,NaN,0.1,setosa
16,5.4,3.9,NaN,0.4,setosa
17,5.1,3.5,1.4,NaN,setosa
20,NaN,3.4,1.7,0.2,setosa
29,4.7,NaN,1.6,NaN,setosa
34,4.9,3.1,1.5,NaN,setosa
36,5.5,NaN,1.3,0.2,setosa
37,NaN,3.6,1.4,0.1,setosa
43,5.0,NaN,1.6,0.6,setosa
44,5.1,3.8,1.9,NaN,setosa
50,NaN,3.2,4.7,1.4,versicolor
52,NaN,3.1,4.9,1.5,versicolor
53,5.5,2.3,4.0,NaN,versicolor
54,6.5,2.8,NaN,1.5,versicolor
55,NaN,NaN,4.5,1.3,versicolor
57,NaN,2.4,3.3,1.0,versicolor
63,6.1,2.9,NaN,1.4,versicolor
65,6.7,3.1,4.4,NaN,versicolor
67,5.8,2.7,4.1,NaN,versicolor
72,6.3,2.5,NaN,1.5,versicolor
73,NaN,NaN,4.7,1.2,versicolor
77,6.7,3.0,NaN,1.7,versicolor
81,NaN,2.4,3.7,1.0,versicolor
83,6.0,NaN,5.1,1.6,versicolor
84,5.4,3.0,NaN,1.5,versicolor
94,NaN,NaN,4.2,1.3,versicolor
97,6.2,NaN,4.3,1.3,versicolor
107,NaN,2.9,6.3,1.8,virginica
113,5.7,2.5,5.0,NaN,virginica
117,7.7,NaN,6.7,NaN,virginica
118,7.7,2.6,NaN,2.3,virginica
121,5.6,2.8,NaN,2.0,virginica
122,NaN,NaN,6.7,2.0,virginica
127,6.1,NaN,4.9,1.8,virginica
131,NaN,3.8,6.4,2.0,virginica
132,6.4,2.8,NaN,2.2,virginica
137,6.4,NaN,5.5,1.8,virginica
138,6.0,NaN,4.8,1.8,virginica
139,6.9,3.1,NaN,NaN,virginica
140,6.7,3.1,NaN,2.4,virginica
144,6.7,NaN,5.7,2.5,virginica
145,6.7,NaN,5.2,2.3,virginica
146,6.3,2.5,5.0,NaN,virginica

## Create an Answer Key

Now that we've replaced 10% of the data with `NaN` values, we'll **use the index of each affected row** to **subset an answer key** from the **control group** to measure our results against.

In [6]:
# Creating list of indices 
null_idx = list(nan_rows.index)

# Creating Answer Key to compare future results against
answer_key = iris_ctrl.iloc[null_idx]
answer_key

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
5,5.4,3.9,1.7,0.4,setosa
6,4.6,3.4,1.4,0.3,setosa
13,4.3,3.0,1.1,0.1,setosa
16,5.4,3.9,1.3,0.4,setosa
17,5.1,3.5,1.4,0.3,setosa
20,5.4,3.4,1.7,0.2,setosa
29,4.7,3.2,1.6,0.2,setosa
34,4.9,3.1,1.5,0.2,setosa
36,5.5,3.5,1.3,0.2,setosa
37,4.9,3.6,1.4,0.1,setosa
43,5.0,3.5,1.6,0.6,setosa
44,5.1,3.8,1.9,0.4,setosa
50,7.0,3.2,4.7,1.4,versicolor
52,6.9,3.1,4.9,1.5,versicolor
53,5.5,2.3,4.0,1.3,versicolor
54,6.5,2.8,4.6,1.5,versicolor
55,5.7,2.8,4.5,1.3,versicolor
57,4.9,2.4,3.3,1.0,versicolor
63,6.1,2.9,4.7,1.4,versicolor
65,6.7,3.1,4.4,1.4,versicolor
67,5.8,2.7,4.1,1.0,versicolor
72,6.3,2.5,4.9,1.5,versicolor
73,6.1,2.8,4.7,1.2,versicolor
77,6.7,3.0,5.0,1.7,versicolor
81,5.5,2.4,3.7,1.0,versicolor
83,6.0,2.7,5.1,1.6,versicolor
84,5.4,3.0,4.5,1.5,versicolor
94,5.6,2.7,4.2,1.3,versicolor
97,6.2,2.9,4.3,1.3,versicolor
107,7.3,2.9,6.3,1.8,virginica
113,5.7,2.5,5.0,2.0,virginica
117,7.7,3.8,6.7,2.2,virginica
118,7.7,2.6,6.9,2.3,virginica
121,5.6,2.8,4.9,2.0,virginica
122,7.7,2.8,6.7,2.0,virginica
127,6.1,3.0,4.9,1.8,virginica
131,7.9,3.8,6.4,2.0,virginica
132,6.4,2.8,5.6,2.2,virginica
137,6.4,3.1,5.5,1.8,virginica
138,6.0,3.0,4.8,1.8,virginica
139,6.9,3.1,5.4,2.1,virginica
140,6.7,3.1,5.6,2.4,virginica
144,6.7,3.3,5.7,2.5,virginica
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica

## One-Hot-Encoding

KNN Imputation works by finding the mean value of *k* nearest neighbors.  Since it calculates the *mean*, non-numerical characters are useless to us. To fix this, we're going to One Hot Encode our Target variable.  

Important Note: Normally, I would Label Encode the Target Variable since we don't want multiple target variables (e.g. $y_{1}$, $y_{2}$, $y_{3}$ = w$x_{1}$ + w$x_{2}$ + w$x_{3}$ ... + b).  However, KNN Imputation requires scaling our data, and keeping our data between 0 and 1 will keep things simple and easier to revert back.  Therefore, we will make binary dummy columns.

In [9]:
# Creating Dummy Columns
target_vars = iris_exp['target']
target_dummies = pd.get_dummies(target_vars, drop_first=False)

# Adding dummies to dataframe
iris_exp2 = pd.concat([iris_exp, target_dummies], axis=1)
iris_exp2 = iris_exp2.drop('target', axis=1)
iris_exp2.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),setosa,versicolor,virginica
0,5.1,3.5,1.4,NaN,1,0,0
1,4.9,3.0,NaN,0.2,1,0,0
2,4.7,3.2,NaN,NaN,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0

In [10]:
iris_exp2.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),setosa,versicolor,virginica
count,137.000000,135.000000,136.000000,136.000000,150.000000,150.000000,150.000000
mean,5.811679,3.055556,3.724265,1.222059,0.333333,0.333333,0.333333
std,0.801384,0.447158,1.750788,0.756277,0.472984,0.472984,0.472984
min,4.300000,2.000000,1.000000,0.100000,0.000000,0.000000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000,0.000000,0.000000
50%,5.800000,3.000000,4.200000,1.300000,0.000000,0.000000,0.000000
75%,6.400000,3.350000,5.100000,1.800000,1.000000,1.000000,1.000000
max,7.700000,4.400000,6.700000,2.500000,1.000000,1.000000,1.000000

## Scaling
As mentioned earlier, we need to scale our data when we use KNN Imputation.  This is a necessary step since KNN Imputation uses the **distance between points** to determine the nearest neighbors and so larger numbers can create a bias.

Normally, on a dataset like this, scaling wouldn't be necessary since the data are on the same scale, but using the MinMax scaler won't hurt it.

In [11]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaled_iris = pd.DataFrame(scaler.fit_transform(iris_exp2), 
                           columns=iris_exp2.columns)
scaled_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),setosa,versicolor,virginica
0,0.235294,0.625000,0.070175,NaN,1.0,0.0,0.0
1,0.176471,0.416667,NaN,0.041667,1.0,0.0,0.0
2,0.117647,0.500000,NaN,NaN,1.0,0.0,0.0
3,0.088235,0.458333,0.087719,0.041667,1.0,0.0,0.0
4,0.205882,0.666667,0.070175,0.041667,1.0,0.0,0.0

# KNN Imputation

Now that the data is preprocessed, we'll begin our experiment!  We'll start by imputing the means of the 5 nearest neighbors.

In [12]:
from sklearn.impute import KNNImputer

impute = KNNImputer(n_neighbors = 5)

# Applying to dataframe
knn_iris = pd.DataFrame(impute.fit_transform(scaled_iris), 
                           columns=scaled_iris.columns)

knn_iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),setosa,versicolor,virginica
0,0.235294,0.625000,0.070175,0.075000,1.0,0.0,0.0
1,0.176471,0.416667,0.087719,0.041667,1.0,0.0,0.0
2,0.117647,0.500000,0.091228,0.033333,1.0,0.0,0.0
3,0.088235,0.458333,0.087719,0.041667,1.0,0.0,0.0
4,0.205882,0.666667,0.070175,0.041667,1.0,0.0,0.0
...,...,...,...,...,...,...,...
145,0.705882,0.458333,0.736842,0.916667,0.0,0.0,1.0
146,0.588235,0.208333,0.701754,0.716667,0.0,0.0,1.0
147,0.647059,0.416667,0.736842,0.791667,0.0,0.0,1.0
148,0.558824,0.583333,0.771930,0.916667,0.0,0.0,1.0
149,0.470588,0.416667,0.719298,0.708333,0.0,0.0,1.0

In [13]:
# Inverting Scaling
inverse_knn_iris = pd.DataFrame(scaler.inverse_transform(knn_iris), 
                           columns=knn_iris.columns)
inverse_knn_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),setosa,versicolor,virginica
0,5.1,3.5,1.40,0.28,1.0,0.0,0.0
1,4.9,3.0,1.50,0.20,1.0,0.0,0.0
2,4.7,3.2,1.52,0.18,1.0,0.0,0.0
3,4.6,3.1,1.50,0.20,1.0,0.0,0.0
4,5.0,3.6,1.40,0.20,1.0,0.0,0.0