# KNN Imputation: Terry Stops Dataset

Now we're going to work on seeing how well KNN Imputation works on a dataset that is composed mostly of categorical data.

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
t_stops = pd.read_csv('datasets/terry_stops/eda_clean.csv')
t_stops = t_stops.drop('Unnamed: 0', axis=1)
t_stops.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30364 entries, 0 to 30363
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   subject_age_group         30364 non-null  object
 1   subject_id                30364 non-null  object
 2   go_sc_num                 30364 non-null  int64
 3   terry_stop_id             30364 non-null  int64
 4   stop_resolution           30364 non-null  object
 5   weapon_type               30364 non-null  object
 6   officer_id                30364 non-null  int64
 7   officer_gender            30364 non-null  object
 8   officer_race              30364 non-null  object
 9   subject_perceived_race    30364 non-null  object
 10  subject_perceived_gender  30364 non-null  object
 11  initial_call_type         30364 non-null  object
 12  final_call_type           30364 non-null  object
 13  call_type                 30364 non-null  object
 14  arrest_flag               30364 non-null  object
 15  frisk_flag                30364 non-null  object
 16  precinct                  30364 non-null  object
 17  sector                    30364 non-null  object
 18  beat                      30364 non-null  object
 19  repeat_offenders          30364 non-null  object
 20  incident_year             30364 non-null  int64
 21  incident_month            30364 non-null  int64
 22  officer_age               30364 non-null  int64
 23  field_contact             30364 non-null  object
 24  offense_report            30364 non-null  object
 25  dif_race                  30364 non-null  object
 26  dif_gender                30364 non-null  object
 27  dif_race_gender           30364 non-null  object
 28  12am_6am                  30364 non-null  int64
 29  7am_12pm                  30364 non-null  int64
 30  1pm_6pm                   30364 non-null  int64
 31  7pm_11pm                  30364 non-null  int64
dtypes: int64(10), object(22)
memory usage: 7.4+ MB

# Preprocessing
Need to drop unusable columns such as unique IDs.

In [3]:
t_stops = t_stops.drop(['subject_id', 'go_sc_num', 'terry_stop_id', 
                        'officer_id'], axis=1)
t_stops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30364 entries, 0 to 30363
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   subject_age_group         30364 non-null  object
 1   stop_resolution           30364 non-null  object
 2   weapon_type               30364 non-null  object
 3   officer_gender            30364 non-null  object
 4   officer_race              30364 non-null  object
 5   subject_perceived_race    30364 non-null  object
 6   subject_perceived_gender  30364 non-null  object
 7   initial_call_type         30364 non-null  object
 8   final_call_type           30364 non-null  object
 9   call_type                 30364 non-null  object
 10  arrest_flag               30364 non-null  object
 11  frisk_flag                30364 non-null  object
 12  precinct                  30364 non-null  object
 13  sector                    30364 non-null  object
 14  beat                      30364 non-null  object
 15  repeat_offenders          30364 non-null  object
 16  incident_year             30364 non-null  int64
 17  incident_month            30364 non-null  int64
 18  officer_age               30364 non-null  int64
 19  field_contact             30364 non-null  object
 20  offense_report            30364 non-null  object
 21  dif_race                  30364 non-null  object
 22  dif_gender                30364 non-null  object
 23  dif_race_gender           30364 non-null  object
 24  12am_6am                  30364 non-null  int64
 25  7am_12pm                  30364 non-null  int64
 26  1pm_6pm                   30364 non-null  int64
 27  7pm_11pm                  30364 non-null  int64
dtypes: int64(7), object(21)
memory usage: 6.5+ MB